{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Type</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transacted</th>
        </tr>
      </thead>

      <tbody>
          {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["symbol"] }}</td>
                <td>{{ transaction["type"] }}</td>
                <td>{{ transaction["shares"] }}</td>
                <td>{{ transaction["price"] }}</td>
                <td>{{ transaction["time"] }}</td>
            </tr>
          {% endfor %}
      </tbody>

    </table>
{% endblock %}
