{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>

      <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["name"] }}</td>
                <td>{{ stock["totalShares"] }}</td>
                <td>{{ usd(stock["price"]) }}</td>
                <td>{{ usd(stock["totalShares"] * stock["price"]) }}</td>
            </tr>
        {% endfor %}

        <tr>
            <td>CASH</td>
            <td colspan="3"></td>
            <td>{{ usd(cash) }}</td>
        </tr>
      </tbody>

      <tfoot>
          <td colspan="4"></td>
          <td><strong>{{ usd(total) }}</strong></td>
      </tfoot>

    </table>
{% endblock %}
