{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" class="form-select" aria-label="Default select example">
          <option selected>Select Stock</option>
          {% for symbol in symbols %}
              <option>{{ symbol["symbol"] }}</option>
          {% endfor %}
        </select>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
